* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  /* opcional, remove o sublinhado */
  cursor: pointer;
}

body {
  height: auto;
  font-family: "Albert Sans", Arial, sans-serif;
  background-color: #000000;
}

.containerheader {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  text-align: center;
  margin: 25px;
}

.menu {
  font-size: 25px;
  width: 100%;
  padding: 0;
  display: flex;
  color: #fff;
  gap: 20px;
  text-align: center;
  margin: 25px;
}

.menu button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
}

.menu :hover {
  color: rgb(110, 110, 110);
  font-size: 28px;
  transition: 0.6s ease-in-out;
}

.banners {
  position: relative;
  width: 100%;
  max-width: 1351px;
  margin: auto;
  overflow: hidden;

}

.slide {
  display: none;
  animation: slide 12s infinite;
}

.slide.active {
  display: block;
}

.banners button.prev,
.banners button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: #00000000;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 24px;
  z-index: 2;
}

.banners button.prev {
  left: 10px;
}

.banners button.next {
  right: 10px;
}

.produtos1 {
  color: white;

}

.produtos1 h1 {
  font-size: 60px;
  text-align: center;
  margin: 20px 0;
}

.produtos2 {
  display: block;
  flex-wrap: wrap;
  color: white;
  gap: 20px;
  align-items: center;
  margin-left: 50px;
  margin-right: 10px;
  text-transform: bold;
}

.produtos2 ul {
  columns: 3;              /* Divide em 3 colunas */
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style: disc inside; /* Exibe marcadores de lista */
  padding: 10px;
  margin: 0 auto;
  max-width: 1500px;        /* Ajuste conforme necessário */
}

.produtos2 li {
  break-inside: avoid;     /* Evita quebra de item entre colunas */
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.apresentacao {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 180px;
  margin-right: 180px;
  flex-wrap: wrap;
  font-size: 25px;
  color: white;

  text-align: center;
  justify-content: center;
}

.whatsapp-link {
  position: fixed;
  right: 20px;
  bottom: 150px;
  z-index: 1000;
}

.whatsapp-link img {
  height: 100px;
}

.footer {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
  background-color: #00000069;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  position: static;
}

.formulario {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: -300px;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
  transition: left 1.5s ease-in-out;
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
  outline-color: #383838;
}

textarea {
  width: 270px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
  outline-color: #383838;

}

.orçamento {
  background-color: #000000;
  color: white;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.mascara-formulario {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  transition: 1.5s ease-in-out;

}

.imagemfundo2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.15;
}
